*.docx
*.csv
*.png
*.tiff
*.ods
*.ods#
*.xlsx
*.xls
*.pyc
*.doc
*.ftr
*.bbl
*.tmp
*.o
*.out
*.exe
*.aux
*.bcf
*.log
*.pdf
*.run
*.xml
*.zip
*.tar
*.gz
*.jpg
*.jpeg
*.txt
*.pyc
*.Rhistory
!/**/
os
pdb
sys
*.venv
*.env
!report.log
*.egg*